* {
    margin: 0px; padding: 0px;
}
#mainContainer {
    height: 100vh; width: 100vw;
    background-color: #f0f0f0;
    position: absolute;
}
#questionContainer {
    height: 12vh; width: 90vw;
    background-color: #f5f5f5; color: #3a5e94;
    border: 0.5vh solid #3a5e94; border-radius: 20px;
    margin-left: 5vw; margin-top: 5vh; 
    font-size: 1.5vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

#questionContainer > h1 {
    position: absolute;
    margin-left: 2vw;
    margin-top: 3vh;
    width: 70vw;
}

#resetButton {
    position: absolute;
    color: black; background-color: #f0f0f0;
    font-size: 3vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 3px solid #3a5e94; border-radius: 10px;
    padding-left: 1vw; padding-right: 1vw; padding-top: 1vh; padding-bottom: 1vh;
    margin-left: 73vw;
    margin-top: 3vh;
}

#submitButton {
    position: absolute;
    color: black; background-color: #f0f0f0;
    font-size: 3vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 3px solid #3a5e94; border-radius: 10px;
    padding-left: 1vw; padding-right: 1vw; padding-top: 1vh; padding-bottom: 1vh;
    margin-left: 80vw;
    margin-top: 3vh;
}

#resetButton:hover, #submitButton:hover {
    color: #3a5e94; 
}

#answerContainer {
    height: 50vh; width: 90vw;
    background-color: #f5f5f5; color: #3a5e94;
    border: 0.5vh solid #3a5e94; border-radius: 20px;
    margin-left: 5vw; margin-top: 2vh;
}

#prevButton {
    position: absolute;
    font-size: 8vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: transparent;
    border: 0px;
    margin-left: 5vw; margin-top: 20vh;
}

#nextButton {
    position: absolute;
    font-size: 8vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: transparent;
    border: 0px;
    margin-left: 82.5vw; margin-top: 20vh;

}

#prevButton:hover, #nextButton:hover {
    color: #3a5e94;
}

#answersMainList {
    list-style: none;
}

#answersMainList > li {
    width: 60vw; height: 8vh;
    margin-left: 15vw; margin-top: 2.5vh;
    text-align: center; padding-top: 1vh;
    background-color: #d3d3d3; color: black; border-radius: 10px;
    font-size: 2.5vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

#answersMainList > li:hover {
    color: #3a5e94;    
}

#explanationContainer {
    height: 20vh; width: 90vw;
    background-color: #f5f5f5; color: #3a5e94;
    border: 0.5vh solid #3a5e94; border-radius: 20px;
    margin-left: 5vw; margin-top: 2vh;
    font-size: 1.5vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

#explanationContainer > h2 {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;

}


#scoreContainer {
    visibility: hidden;
    position: absolute;
    height: 50vh; width: 40vw;
    margin-left: 30vw; margin-top: 25vh;
    background-color: #d3d3d3;
    border: 0.5vh solid #3a5e94; border-radius: 20px;

}

#scoreContainer > h1 {
    margin-top: 3vh;
    font-size: 4vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; text-align: center;
}

#scoreContainer > h2 {
    margin-top: 5vh;
    color: green; text-shadow: 1px 1px 10px black;
    font-size: 15vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; text-align: center;
}

#closeButton {
    position: absolute;
    width: 16vw;
    color: black; background-color: #f0f0f0;
    font-size: 3vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 3px solid #3a5e94; border-radius: 10px;
    padding-left: 1vw; padding-right: 1vw; padding-top: 1vh; padding-bottom: 1vh;
    margin-left: 12vw; margin-top: 10vh;
}